body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    color: black;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    background-color: rgb(255, 254, 240);
    transition: 0.5s;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    display: block;
}

h1 {
    color: green;
}

a {
    color: rgb(146, 37, 146);
}
a:hover {
    color: rgb(66, 66, 189);
}

li {
    margin-top: 4%;
    margin-bottom: 4%;
}

@media only screen and (max-width: 1000px) {
    body {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
        transition: 1s;
    }

    img {
        width: 80vw;
    }
}

li.topnav {
    margin-top: 0%;
    margin-bottom: 0%;
}

ul {
    list-style-type: none;
}

a.button-link {
    text-decoration: none;
    padding: 2.5%;
    background-color: rgb(221, 203, 221);
    transition: 0.25s;
    border: solid;
    font-size: 100%;
    display: flex;
    width: 40%;
}
a.button-link:visited {
    color: rgb(116, 79, 10);
    background-color: rgb(236, 192, 111);
}
.button-link:visited:hover {
    color: darkgreen;
    background-color: rgb(106, 185, 106);
}
a.button-link:hover {
    background-color: rgb(168, 168, 212);
}

/*This section is for special classes:*/

.glow:hover {
    color: rgb(205, 36, 191);
}
/*the glow class was used so I could make the word "coffee" glow in devlog #3, partially as a reference to the home page text from Don't Go Outside.*/

.bug {
    transition: 8s;
}
.bug:hover {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 500%;
}
/*This may be getting a tad carried away, but I was talking about a bug, and I thought it would be funny if the font changed when you hovered over the word bug. Also for devlog #3 */

.inline-link {
    padding: 0%;
    background-color: transparent;
    text-decoration: underline;
    color: green;
}
.inline-link:hover {
    color: rgb(207, 138, 12);
}

.date {
    font-size: 80%;
    margin-left: 1vw;
}

.image-desc {
    font-size: 80%;
    color: rgb(82, 112, 90);
    padding-left: 5%;
    padding-right: 5%;
}

.signature {
    font-family:'Times New Roman', Times, serif;
    font-size: 115%;
    color: black;
    text-align: right;
    margin-right: 10%;
}

li.summary {
    list-style: disc;
}