body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    color: black;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    background-color: rgb(255, 254, 240);
}

h2 {
    color: black;
    text-decoration: none;
}

a {
    color: purple;
}
a:hover {
    color: blue;
}

.glow:hover {
    color: rgb(205, 36, 191);
}
/*the glow class was used so I could make the word "coffee" glow in devlog #3, partially as a reference to the home page text from Don't Go Outside.*/

.bug {
    transition: 8s;
}
.bug:hover {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 500%;
}
/*This may be getting a tad carried away, but I was talking about a bug, and I thought it would be funny if the font changed when you hovered over the word bug. Also for devlog #3 */

.inline-link {
    padding: 0%;
    background-color: transparent;
    text-decoration: underline;
    color: green;
}
.inline-link:hover {
    color: rgb(207, 138, 12);
}

.signature {
    font-family:'Times New Roman', Times, serif;
    font-size: 115%;
    color: black;
    text-align: right;
    margin-right: 10%;
}

h1 {
    color: green;
}

li {
    margin-top: 1%;
    margin-bottom: 1%;
}

li.topnav {
    margin-top: 0%;
    margin-bottom: 0%;
    
}