/*----------------GENERAL--------------------------*/

#newlook {
    background-color: rgb(46, 46, 46);
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    width: 100%;
    color: rgb(176, 176, 189);
}

#newlook div {
    margin: 0px;
    padding: 0px;
}

#newlook p {
    padding: 1vw 1.5vw 1vw 3vw;
    font-size: 90%;
    margin: 0px;
}

@media only screen and (max-width: 600px) {
    #newlook body {
        margin: 0px;
        padding: none;
    }
}

@media only screen and (min-width: 1000px) {
    #newlook body {
        margin: 0px;
        padding: none;
    }
}

/*-----------------TOPNAV--------------------------*/

.topnav-text {
    font-size: 125%;
}

.unlink {
    color: rgb(195, 195, 219);
    text-decoration: none;
}

/*--------------THUMBNAIL-STYLING-------------------*/

.thumbnail {
    margin: 1vw 5vw 5vw 5vw;
    display: inline-block;
    border-radius: 1vw;
    background-color: grey;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    /* Keep this the same as .thumbnail-image border-color */
    border-color: rgb(32, 32, 32);
    box-shadow: 1vw 1vw rgb(123, 63, 123);
    width: 250px;
}

.thumbnail:hover {
    box-shadow: 1vw 1vw rgb(65, 65, 146);
}

.thumbnail-image {
    width: 90%;
    display: block;
    margin: 1vw auto 1vw auto;
    border-width: 0.3vw;
    /* Keep this the same as .thumbnail border-color */
    border-color: rgb(32, 32, 32);
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.5);
}

    /* Override typical spacing to fit better with the image's padding. */
#newlook .thumbnail p {
    display: block;
    padding: 0vw 0vw 1vw 1vw;
}

.flex-container.thumbnails {
    flex-wrap: wrap;
    justify-content: center;
}

/*--------------DECORATION-------------------*/

.dark-text {
    color: rgb(50, 50, 50);
}

#newlook .thumb-desc p {
    padding: 5px;
    font-size: 15px;
    line-height: 150%;
    color: rgb(50, 50, 50);
}

/*--------------------------------------------------*/