/*----------------GENERAL--------------------------*/

#newlook {
    background-color: rgb(46, 46, 46);
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    width: 100%;
}

#newlook div {
    margin: 0px;
    padding: 0px;
}

#newlook p {
    color: rgb(195, 195, 219);
    padding: 1vw;
    margin: 0px;
}

@media only screen and (max-width: 600px) {
    #newlook body {
        margin: 0px;
        padding: none;
    }
}

@media only screen and (min-width: 1000px) {
    #newlook body {
        margin: 0px;
        padding: none;
    }
}

/*-----------------TOPNAV--------------------------*/

.unlink {
    color: rgb(195, 195, 219);
    text-decoration: none;
}

/*--------------THUMBNAIL-STYLING-------------------*/

.thumbnail {
    margin: 5vw;
    display: inline-block;
    border-radius: 1vw;
    background-color: grey;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    /* Keep this the same as .thumbnail-image border-color */
    border-color: rgb(32, 32, 32);
    box-shadow: 1vw 1vw;
    width: 250px;
}

.thumbnail-image {
    width: 90%;
    display: inline;
    margin: 1vw;
    border-width: 0.3vw;
    /* Keep this the same as .thumbnail border-color */
    border-color: rgb(32, 32, 32);
}

    /* Override typical spacing to fit better with the image's padding. */
#newlook .thumbnail p {
    display: block;
    padding: 0vw 0vw 1vw 1vw;
}

.flex-container.thumbnails {
    flex-wrap: wrap;
    justify-content: center;
}

/*--------------DECORATION-------------------*/

.dark-text {
    color: rgb(50, 50, 50);
}

.thumb-desc {
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    line-height: 100%;
}